.modal2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content2 {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.linea {
    border: none;
    height: 1px;
    background-color: #000;
    margin: 10px 0;
}
 #cerrarModificaciones{
    margin-top: 321px;
} 