#divGeneral{
    border: 0px; padding: 0.275rem 0.955rem;
}
#divGeneral2{
    border: 0px; padding: 0.275rem 0.955rem;
}

#label{
    font-size: .8rem;
}

#p_estado,#soporteMai{
    font-size:.7rem; 
    border: 1px solid #29618f; 
    border-radius: 6.5px;
}
#p_nropeticion, #p_fechapeticion, #p_usuario, #p_extension, #p_correo, #p_categoria, #p_descripcion, #p_cnclusiones, #areaSg{
    border: 1px solid #29618f; 
    border-radius: 6.5px;
}

#imagen{
    color: #29618f ;
    text-decoration: underline;
    text-decoration: underline; 
    font-size: 15px;
}


.contenedorImagenes {
    position: relative;
    text-align: center; 
}

.contenedorImagenes label {
    position: absolute; 
    top: 0; 
    left: -235px;
    width: 100%; 
    padding: 5px; 
}

.contenedorImagenes2 {
    position: relative;
    text-align: center; 
}

.contenedorImagenes2 label {
    position: absolute; 
    top: 0; 
    left: -235px;
    width: 100%; 
    padding: 5px; 
}

.contenedorImagenes3 {
    position: relative;
    text-align: center; 
}

.contenedorImagenes3 label {
    position: absolute; 
    top: 0; 
    left: -235px;
    width: 100%; 
    padding: 5px; 
}